.container {
    max-width: 768px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
/* HEADER */
.page-header {
 box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
 0px 1px 1px rgba(46, 47, 66, 0.16),
 0px 1px 6px rgba(46, 47, 66, 0.08);
 background-color: var(--body-color);
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-nav{
    display: flex;
    align-items: center;
    column-gap: 76px;
}
.logo{
    display: block;
    padding-top: 24px;
    padding-bottom: 22px;
}
.site-nav-list{
    display: flex;
    gap: 40px;
}
.menu-link{
    display: block;
    padding-top: 24px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.is-active {
    position: relative;
    color: var(--focus-btn-color);
}
.active{
    color: var(--focus-btn-color);
}
.is-active::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: var(--focus-btn-color);    
    border-radius: 2px;
    bottom: -1px;
}
.contact-item:not(:last-child){
    margin-bottom: 12px;
}
/* .contacts-nav{
    display: flex;
    flex-direction: column;
} */
.tel{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
}
.menu-item:hover,
.menu-item:focus,
.contact-item:hover,
.contact-item:focus
 {
    color: var(--focus-btn-color);
}
.burger-menu{
    display: none;
}

/* HERO */
.hero{
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/hero/hero_tab@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), url(../images/hero/hero_tab@2x.jpg);
    }
}
.hero-title{
    max-width: 496px;
    margin: 0 auto 50px auto;
}
.modal-btn{
    margin-top: 36px;
}

/* PRIORITIES */
.priorities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
    /*justify-content: center;*/
}
.priorities-element{
    flex-basis: calc((100% - 30px - 24px) / 2);
}
.priorities-element .description{
    font-weight: 500;
}

/* DOING */
.doing-section{
    display: none;
}

/* TEAM  */
.team-container{
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
}
.mobile-menu {
    display: none;
}
/*  CUSTOMERS */
.customers-section .container {
    padding: 0 108px;
}
.customer-flex-container{
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
}

/*  FOOTER  */
.footer-container .container{
    padding: 0;
    max-width: 552px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
}
.footer-content .txt-footer{
    max-width: 264px;
}
.ftr-sbscr{
    width: 100%;
    margin-top: 72px;
}
.ftr-subscribe{
    display: flex;
    align-items: center;
    gap: 24px;
}
.ftr-form-input{
    margin: 0;
}
.logo-footer{
    padding-top: 0;
}
.ftr-subscribe-btn{
    margin: 0;
}